* {
    box-sizing: border-box;
}

#wrapper {
    background-color: #90c7e3;
    background-image: linear-gradient(to bottom, #ffffff, #90c7e3);
}

body {
    background-color: #eaeaea;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #002171;
    color:#ffffff;
    text-align: center;
}

header a{
    text-decoration: none;
}

header a:link{
    color: #ffffff;
    }

header a:visited {
        color: #ffffff;
    }

header a:hover {
        color: #90c7e3;
    }

nav {
    font-weight: bold;
    padding: 0;
    font-size: 120%;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav li{
    border-bottom: 1px solid #002171;
}

nav a {
    text-decoration: none;
}

nav a:link{
color: #344873;   
}

nav a:visited {
color: #344873;
}

nav a:hover {
color: #a52a2a;
}

main {
    background-color: #ffffff;
    padding: 1px 20px 20px 30px;
    display: block;
    overflow: auto;
}


h1 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-family: Georgia, "Times New Roman", serif;
    letter-spacing: 0.25em;
}

main ul {
    list-style-image: url(marker.gif);
}

h2 {
    color: #1976d2;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px 1px #ccc;
}

h3{
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}

dt{
    color: #002171;
}

footer {
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    padding: 2em;
    background-color: #ffffff;
}

#homehero {
    height: 300px;
    background-image: url(coast2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.resort {
    color: #1976d2;
    font-weight: bold;
}

.contact {
    font-size: 90%;
}


@media screen and (min-width: 600px) {
    nav ul
    {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    }

    nav li
    {
    border-bottom: none;
    }

    section 
    {
    margin-right: 2em; margin-left: 2em;
    flex: 1;
    }

    .flow {
    display: flex;
    flex-direction: row;
    }

}